header {
  display: flex;
  justify-content: center;
  background-color: rgb(44, 42, 42);
  color: white;
  padding-top: 40px
}

.card-body{
    background-color: rgb(104, 230, 192);
}

.row  {
    display: flex;
    justify-content: center;

}

.current {
    display: flex;
    justify-content: center;
}

.btnSearch {
    background-color: rgb(109, 109, 233);
    color: white
}
/* 
.five-day {
    display: flex;
    

} */

